[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmudict = "*"
"repoze.lru" = "*"
setuptools = "*"
appdirs = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
pytest = "*"
wheel = "*"
twine = "*"
